name: Build sample code

on: [push, pull_request]

jobs:
    run-command:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Setup Zephyr project
          uses: zephyrproject-rtos/action-zephyr-setup@v1
          with:
            app-path: .
            toolchains: arm-zephyr-eabi

        - name: Build nanopb_zbus_example for native_sim
          run: west build -p -b native_sim -d build_native_sim samples/nanopb_zbus_example/

        - name: Build nanopb_zbus_example for nrf5340dk board
          run: west build -p -b nrf5340dk/nrf5340/cpuapp -d build_nrf5340_nanopb_zbus_example samples/nanopb_zbus_example/


        - name: Build zbus_lis_example for nrf5340dk board
          run: west build -p -b nrf5340dk/nrf5340/cpuapp -d build_nrf5340_lis samples/zbus_lis_example/

        - name: Generate RAM report for build_nrf5340_lis
          run: west build -d build_nrf5340_lis -t ram_report

        - name: Generate ROM report for build_nrf5340_lis
          run: west build -d build_nrf5340_lis -t rom_report


        - name: Build zbus_sub_example for nrf5340dk board
          run: west build -p -b nrf5340dk/nrf5340/cpuapp -d build_nrf5340_sub samples/zbus_sub_example/

        - name: Generate RAM report for build_nrf5340_sub
          run: west build -d build_nrf5340_sub -t ram_report

        - name: Generate ROM report for build_nrf5340_sub
          run: west build -d build_nrf5340_sub -t rom_report


        - name: Build zbus_msg_sub_example for nrf5340dk board
          run: west build -p -b nrf5340dk/nrf5340/cpuapp -d build_nrf5340_msg_sub samples/zbus_msg_sub_example/

        - name: Generate RAM report for build_nrf5340_msg_sub
          run: west build -d build_nrf5340_msg_sub -t ram_report

        - name: Generate ROM report for build_nrf5340_msg_sub
          run: west build -d build_nrf5340_msg_sub -t rom_report
